<div><code>unsubscribe()</code> does ...
</div>
<div>Typically, it's used to...
</div>

<app-default [demo]="this" operator="unsubscribe" [secondButton]="'destroy component'">
    <div>
        optional dynamic text above the live demo
    </div>
</app-default>
<app-postit class="postit-top">
    write the documentation
</app-postit>
<app-postit class="postit-middle">
    implement the demo
</app-postit>
<app-postit class="postit-middle">
    add the demo messages
</app-postit>
<app-postit class="postit-middle">
    add the source code
</app-postit>