<mat-card class="mat-elevated-z8 push-down">
  <mat-card-content>
    <div class="row">
      <div class="col-md-7">
        <h2 class="compact">Source code</h2>
      </div>
      <div class="col-md-2">
        <h2 class="compact">Live demo</h2>
      </div>
      <div class="col-md-3">
        <button class="pull-right" mat-raised-button color="primary" (click)="demo.startRequest()">Run demo</button>
        <button class="pull-right" mat-raised-button color="secondary" (click)="demo.resetDemo()">Reset demo</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <markdown ngPreserveWhitespaces src="assets/{{operator}}.ts.md"> </markdown>
      </div>
      <div class="col-md-5" *ngIf="demo.algorithm && demo.algorithm.length > 0">
        <ng-content></ng-content>
        <app-algorithm [algorithm]="demo.algorithm"></app-algorithm>
      </div>
    </div>
  </mat-card-content>
</mat-card>
