<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Operators</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/pipe">pipe</a>
      <a mat-list-item routerLink="/subscribe">subscribe</a>
      <a mat-list-item routerLink="/unsubscribe">unsubscribe</a>
      <a mat-list-item routerLink="/take-one">take(1) aka first()</a>

      <a mat-list-item routerLink="/map-js">map (Vanilla JS)</a>
      <a mat-list-item routerLink="/map">map (RxJS)</a>
      <a mat-list-item routerLink="/tap">tap</a>

      <a mat-list-item routerLink="/forkjoin">forkJoin (simple)</a>
      <a mat-list-item routerLink="/forkjoin-chaining">forkJoin (chaining)</a>
      <a mat-list-item routerLink="/flatten">flatten</a>
      <a mat-list-item routerLink="/merge-all">mergeAll</a>
      <a mat-list-item routerLink="/switch-map">switchMap</a>
      <a mat-list-item routerLink="/catch-error">catchError</a>
      <a mat-list-item routerLink="/delay">delay</a>
      <a mat-list-item routerLink="/debounce">debounce</a>
      <a mat-list-item routerLink="/take-until">takeUntil</a>
      <a mat-list-item routerLink="/filter">filter</a>
      <a mat-list-item routerLink="/to-array">toArray</a>
      <a mat-list-item routerLink="/of">of</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>RxJS Cheatsheet</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
