<div><code>forkJoin()</code> does ...
</div>
<div>Typically, it's used to...
</div>

<app-default [demo]="this" operator="fork-join" [secondButton]="'destroy component'">
    <div>
        optional dynamic text above the live demo
    </div>
</app-default>
<app-postit>The simple example is just forkJoin without flatMap()</app-postit>
<app-postit>Simplify the<br />chained forkJoine example</app-postit>
<app-postit>Let's improve the documentation!</app-postit>
<app-postit>What about a flowchart?</app-postit>
