<div>A typical usecase of forkJoin is to call several REST in parallel and to collect them as a single Observable.</div>
<div>https://medium.com/@swarnakishore/performing-multiple-http-requests-in-angular-4-5-with-forkjoin-74f3ac166d61</div>

<app-default [demo]="this" operator="fork-join-operator"></app-default>
<app-postit>The simple example is just forkJoin without flatMap()</app-postit>
<app-postit>Simplify the<br />example</app-postit>
<app-postit>Let's improve the documentation!</app-postit>
<app-postit>What about a flowchart?</app-postit>
