/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

code {
  font-size: 18px;
  color: brown;
}

.postit-top {
  position: absolute;
  top: 190px;
  right: 130px;
  transform: rotate(-1deg);
  font-size: 200%;
}

.postit-middle {
  position: absolute;
  top: 435px;
  right: 100px;
  font-size: 175%;
  transform: rotate(3deg);
}
